<!DOCTYPE html>
<html id="home-page"> <!-- Note: ID is referenced in script at end of body. -->
  <head>
    <title>Tic-Tac-Toe</title>
    <%= render 'layouts/head' %>
  </head>
  <body data-no-turbolink>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Tic-Tac-Toe</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><%= link_to 'Home', root_path %></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><%= link_to 'Login', '#' %></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Tic-Tac-Toe</h1>
            <p class="lead">Play Tic-Tac-Toe in real time against other players. See your records against everyone you've played. Enter speed mode to liven up the <span class="nowrap">pace—</span>or turn it off and play at your leisure.</p>
            <p class="lead">
              <%= link_to 'Play Now', new_user_path, class: "btn btn-lg btn-default" %>
            </p>
            <p class="existing-account-instruction">
              Have an account? <%= link_to 'Log in', '#' %>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>© <%= Date.today.year %> JMS</p>
            </div>
          </div>

        </div>

      </div>

    </div>
    
    <script>
      // Must reset document ID, as Turbolinks will not update it.
      document.documentElement.id = "home-page";
    </script>
  </body>
</html>