<%= bootstrap_form_for(@user) do |f| %>
  <%= f.text_field :handle, label: <<-LABEL.html_safe
      Nickname
      <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
            data-toggle="tooltip" data-placement="auto right"
            title="#{ Rails.configuration.x.minimum_handle_length }–#{ Rails.configuration.x.maximum_handle_length } alphanumeric characters">
      </span>
      LABEL
  %>
  <%= f.email_field :email %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation %>
  <%= f.form_group do %>
    <%= f.submit 'Register' %>
  <% end %>
<% end %>