<% content_for :title do -%>
  <%= @user.handle %>
<% end -%>

<div class="row">
  <div class="col-sm-6">
    <%= gravatar_image_tag(@user, :profile) %>
  </div>
  <div class="col-sm-6">
    <h2 class="text-center"><%= @user.handle %></h2>
    <% unless user_session.current_user == @user -%>
      <%= render partial: 'pair_record', object: @user.game_record(current_user),
                                         locals: { opponent: @user } %>
    <% end -%>
    <%= render partial: 'full_record', object: @user.game_record,
                                       locals: { user: @user } %>
  </div>
</div>