<% content_for :title do -%>
  <%= @user.handle %>
<% end -%>

<div class="row">
  <div class="col-sm-6">
    <%= gravatar_image_tag(@user, :profile) %>
    <% if @user == user_session.current_user -%>
      <p class="change-profile-picture"><%= link_to 'Change profile picture',
                                         'https://en.gravatar.com/', target: :blank %></p>
    <% end -%>
  </div>
  <div class="col-sm-6">
    <h2 class="text-center"><%= @user.handle %></h2>
    <% if @pair_record -%>
      <h3><%= pair_record_title(@user) %></h3>
      <%= render partial: 'record_list', object: @pair_record %>
    <% end -%>
    <h3><%= full_record_title(@user) %></h3>
    <%= render partial: 'record_list', object: @full_record %>
  </div>
</div>