<div class="row ongoing-game">
  <div class="col-sm-3">
    <div class="game-preview">
      <%= render partial: ongoing_game %>
    </div>
  </div>
  <div class="col-sm-9">
    <h3><%= link_to opponent_handle(ongoing_game), ongoing_game %></h3>
    <div class="last-game-activity" data-game-id="<%= ongoing_game.id %>">
      Last activity <%= time_ago_in_words(ongoing_game.updated_at) %> ago
    </div>
    <div class="whose-turn" data-game-id="<%= ongoing_game.id %>">
      <%= whose_turn(ongoing_game) %>
    </div>
  </div>
</div>