<% content_for :title do -%>
  Games
<% end -%>

<div class="games-page row">
  <div class="col-sm-6 col-sm-push-3">
    <div class="ongoing-games">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Ongoing</h2>
        </div>
        <div class="panel-body">
          <% if @ongoing_games.empty? %>
            <p>No ongoing games</p>
          <% end %>
          <%= render partial: 'ongoing_game', collection: @ongoing_games %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-sm-pull-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Waiting</h2>
      </div>
      <div class="panel-body">
        <section id="waiting-games">
          <% if @user_waiting_game -%>
            <%= render partial: 'user_waiting_game', object: @user_waiting_game %>
          <% end -%>
          <%= render partial: 'waiting_game', collection: @waiting_games,
                                                  locals: { user: @user } %>
          <% if @user_waiting_game.nil? && @waiting_games.empty? %>
            <p id="no-waiting-games">No waiting games</p>
          <% end %>
        </section>
      </div>
    </div>
    <% if @user.waiting_game.nil? -%>
      <%= render partial: 'new_game_form', locals: { game: @new_game } %>
    <% end -%>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Recent</h2>
      </div>
      <div class="panel-body">
        <%= render partial: 'completed_game', collection: @recent_games %>
        <% if @recent_games.empty? %>
          <p>No recent games</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
