<p id="notice" class="alert alert-info" role="alert"><%= notice %></p>

<p>
  <strong>Player1:</strong>
  <%= @game.player1_id %>
</p>

<p>
  <strong>Player2:</strong>
  <%= @game.player2_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @game.status %>
</p>

<%= render @game %>

<% if @game.status == Game::PENDING %>
  <%= form_for @next_play, url: [@game, @next_play], remote: true do |f| %>
    <%= f.hidden_field :number %>
    <%= f.hidden_field :x %>
    <%= f.hidden_field :y %>
  <% end %>
  
  <%= form_for @game, url: { action: 'quit' }, method: 'post', remote: true,
                      html: { class: 'quit_game', id: "quit_game_#{@game.id}" } do |f| %>
    <%= f.submit 'Resign' %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
