<% content_for :title do -%>
  <%= game_title(@game) %>
<% end -%>

<div class="row">
  <div class="col-sm-6 game-col">
    <div class="game-container">
      <h2><%= game_title(@game, true) %></h2>
      <%= render @game %>
      <p class="whose-turn" data-game-id="<%= @game.id %>">
        <%= whose_turn(@game) %>
      </p>
      <p class="game-status"><%= game_status_text(@game) %></p>
      <%= quit_or_new_game_button(@game, @new_game) %>
      <%= link_to "Back to games", games_path, class: 'btn btn-link' %>
    </div>
  </div>
  <div class="col-sm-4 col-sm-offset-1">
    <% if @opponent %>
      <h3><%= pair_record_title(@opponent) %></h3>
      <%= render partial: 'record_list', object: @pair_record %>
    <% end %>
  </div>
</div>

<%= render 'games/next_play_form' if @game.pending? %>