<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head_top' %>
  <title>
    <% if content_for?(:title) -%>
      <%= yield :title %> |
    <% end -%>
    Tic-Tac-Toe
  </title>
  <%= render 'layouts/head' %>
</head>
<body>
  <%= render 'layouts/main_nav' %>
  <div class="container">
    <%= render 'layouts/flash' %>
    <%= yield %>
  </div>
  
  <script>
    App.User.id = <%= user_session.current_user.id %>;
  </script>
  
  <!-- Templates -->
  
  <script type="text/template" id="play-again-request-template">
    <%= render 'games/play_again_request' %>
  </script>
  
  <script type="text/template" id="play-again-status-template">
    <%= render 'games/play_again_status' %>
  </script>
</body>
</html>
