<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for?(:title) -%>
      <%= yield :title %> |
    <% end -%>
    Tic-Tac-Toe
  </title>
  <%= render 'layouts/head' %>
</head>
<body>
  <%= render 'layouts/main_nav' %>
  <div class="container">
    <%= render 'layouts/flash' %>
    <%= yield %>
  </div>
  <script>
    App.User.id = <%= user_session.current_user.id %>;
  </script>
</body>
</html>
