<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head_top' %>
    <title>
      <% if content_for?(:title) -%>
        <%= yield :title %> |
      <% end -%>
      Tic-Tac-Toe
    </title>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Tic-Tac-Toe</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <%= nav_link 'Home', root_path %>
                  <%= nav_link 'Sign up', new_user_path %>
                  <%= nav_link 'Login', login_path %>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <%= render 'layouts/flash' %>
            <%= yield %>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p><!-- footer --></p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </body>
</html>